.contact {
    background: rgba(0, 0, 0, 0.6);
    height: 100%;
    color: whitesmoke;
}

.contact-info {
    display: flex;
    flex-direction: row;
    min-width: 300px;
    max-width: 40%;
    min-height: 160px;
    border: 1px solid whitesmoke;
    margin-left: auto;
    margin-right: auto;
}

.profile {
    width: 120px;
    height: 160px;
    float: left;
    padding: 2px;
}

.info {
    padding-left: 2px;
}

@media screen and (min-width: 768px) {
    .contact-info {
        min-width: 280px;
        max-width: 40%;
        min-height: 240px;
        max-height: 300px;
        box-shadow: 5px 8px 8px black;
    }

    .profile {
        width: 168px;
        height: 240px;
    }
}