.contact {
    background: rgba(0, 0, 0, 0.6);
    height: 100%;
    color: whitesmoke;
}

.contact-info {
    display: flex;
    flex-direction: row;
    min-width: 310px;
    max-width: 40%;
    min-height: 160px;
    border: 1px solid whitesmoke;
    margin-left: auto;
    margin-right: auto;
}

.profile {
    width: 120px;
    height: 166px;
    float: left;
    padding: 2px;
}

ul:before{
    content:attr(aria-label);
    font-size:120%;
    font-weight: bold;
    text-decoration: underline;
    color: whitesmoke
}

li {
    color: whitesmoke;
}

.info {
    padding-left: 2px;
    list-style: none;
}

@media screen and (min-width: 768px) {
    .contact {
        padding-top: 24px;
    }

    .contact-info {
        min-width: 470px;
        max-width: 42%;
        min-height: 240px;
        max-height: 300px;
        box-shadow: 5px 8px 8px black;
    }

    .profile {
        width: 194px;
        min-height: 240px;
        margin-bottom: auto;
        margin-top: auto;

    }

    li {
        font-size: 1.5rem;
    }
}