header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: black;
    height: 62px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: +1;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.signature {
    color: whitesmoke;
    margin-top: 2px;
    margin-left: 2px;
    font-size: 1.6rem;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: black;
    height: 44px;
    margin-top: -8px;
    padding-bottom: 2px;
}

.burgericon {
    height: 64px;
    width: 64px;
}

.burgericon:hover {
    cursor: pointer;
}

.xicon {
    height: 64px;
    width: 64px;
    display: block;
    margin-left: auto;
}

.xicon:hover {
    cursor: pointer;
}

.hide {
    display: none;
}

.toggle-container {
    display: flex;
    flex-direction: column;
    justify-content: right;
}

.nav-button {
    height: 40px;
    width: 52px;
    font-size: 0.8rem;
    margin-top: auto;
    margin-bottom: auto;
    color: black;
}

.nav-button:hover {
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .signature {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        font-size: 2rem;
    }

    .xicon, .burgericon {
        display: none;
    }

    .hide {
        display: flex;
    }

    nav {
        margin-top: 0;
        height: 50px;
    }

    .nav-button {
        height: 44px;
        width: 68px;
    }
}