.App {
    height: 100%;
    width: 100%;
}

main {
    height: 100%;
    width: 100%;
    padding-top: 62px;
    background: url(./Background.png);
}

.conceal {
    display: none;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.main-buttons {
    padding-bottom: 22px;
}

.title {
    text-align: center;
    color: whitesmoke;
}