.App {
    height: 100%;
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding-top: 62px;
}

.conceal {
    display: none;
}

h1 {
    text-align: center;
    padding-bottom: 62px;
    color: whitesmoke;
}

h2 {
    text-align: center;
    padding-bottom: 12px;
    color: whitesmoke;
}

.main-buttons {
    padding-bottom: 22px;
}

.main-buttons:hover {
    cursor: pointer;
}

.title {
    text-align: center;
    color: whitesmoke;
}

@keyframes focus {
    0% {opacity: 0;}
    10% {opacity: 0.1;}
    20% {opacity: 0.2;}
    30% {opacity: 0.3;}
    40% {opacity: 0.4;}
    50% {opacity: 0.5;}
    60% {opacity: 0.6;}
    70% {opacity: 0.7;}
    80% {opacity: 0.8;}
    90% {opacity: 0.9;}
    100% {opacity: 1;}
}

.focus {
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.45);
    overflow: auto;
    height: 100%;
    animation-name: focus;
    animation-duration: 1s;
}
  
@keyframes shimmer {
  0% {
    background-position: top left;
  }

  100% {
    background-position: bottom right;
  }
}

.reveal {
    display: inline-block;
    color:hotpink;
    background: hotpink -webkit-gradient(linear, 100% 0, 0 0, from(hotpink), color-stop(0.5, #ffffff), to(hotpink));
    background-position: -4rem top;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation-name: shimmer;
    -webkit-animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-delay: 4s;
    -webkit-background-size: 4rem 100%;
}

span:hover {
    cursor: pointer;
}